@use "../queries" as *;

.card {
  position: relative;
  padding: var(--space-m);
  padding-top: 160px;
  margin-top: 160px;
  width: 90%;
  max-width: 392px;
  margin-inline: auto;
  background-image:url('@/assets/images/photo-wall-texture-pattern.webp');
  background-color: hsl(0deg 0% 13.72%);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;

  @include medium {
    grid-template-columns: repeat(3, 1fr);
    max-width: 920px;
    padding-top: var(--space-m);
    margin-block: 2rem;
    overflow: hidden;
    padding: 3rem;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);

    img {
      user-select: none;
      display: block;
      width: 100%;
      height: 100%;
    }

    @include medium {
      position: relative;
      top: unset;
      left: unset;
      transform: unset;
      flex: 1 1 33%;
      justify-content: flex-start;
      transform: translateX(-30%);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__content {
    grid-column: 1 / 2;
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include medium {
      grid-column: 2 / 4;
    }
  }
}



.feedback__success.completed, .feedback__success.failed {
  background-size:contain;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}

.feedback__success.failed  {
  background-image: url('@/assets/images/dogs.webp');
}

.feedback__success.completed {
  background-image: url('@/assets/images/dogs2.webp');
}

.card:has(.feedback__success.completed, .feedback__success.failed) {
  overflow: hidden;
}